//output:default.html
doctype html
html(lang='en')
    head
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        // css
        link(rel='stylesheet', type='text/css', href='styles/vendor/bootstrap/bootstrap-dark.css')
        link(rel='stylesheet', href='styles/vendor/winjs/ui-dark.css')
        link(rel='stylesheet', type='text/css', href='default.min.css')
        // scripts
        script(type='text/javascript', src='scripts/vendor/jquery/jquery.js')
        script(type='text/javascript', src='scripts/vendor/bootstrap/bootstrap.js')
        script(type='text/javascript', src='scripts/vendor/pouchdb/pouchdb.js')
        script(type='text/javascript', src='scripts/vendor/winjs/js/base.js')
        script(type='text/javascript', src='scripts/vendor/winjs/js/ui.js')

    body.win-type-body
        #app
          .splitView(data-win-control='WinJS.UI.SplitView', data-win-options="{panePlacement:'right'}")
            // Pane area 
            div
              .header
                button.win-splitviewpanetoggle(data-win-control='WinJS.UI.SplitViewPaneToggle', data-win-options="{ splitView: select('.splitView') }")
                .title Menu
              .nav-commands
                div(data-win-control='WinJS.UI.NavBarCommand', data-win-options="{ label: 'Home', icon: 'home'}")
                div(data-win-control='WinJS.UI.NavBarCommand', data-win-options="{ label: 'Favorite', icon: 'favorite'}")
                div(data-win-control='WinJS.UI.NavBarCommand', data-win-options="{ label: 'Settings', icon: 'settings'}")
            // Content area
            .basicToolbar(data-win-control='WinJS.UI.ToolBar')
                // Primary commands
                button(data-win-control='WinJS.UI.Command', data-win-options="{\
                id:'cmdEdit',\
                label:'edit',\
                section:'primary',\
                type:'button',\
                icon: 'edit'\
                }")
                
            .contenttext
              .container#contenthost(data-win-control="Application.PageControlNavigator", data-win-options="{home: '/pages/home/home.html'}")
              
                  
        // TodoWinTS script references      
        script(type='text/javascript', src='scripts/references.js')
        script(type='text/javascript', src='scripts/default.js')
        script(type='text/javascript', src='scripts/navigator.js')
